/* Import custom fonts*/
@import url(https://fonts.googleapis.com/css?family=Jaldi:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900);
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900');
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:200,300,500,700);

/* wrapper for brand section*/
#brandwrapper{
    background-color: #1e1e1e;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Adjustment of image*/
#brandwrapper img{
    padding-top: 30px;
}

/* wrapper for spec section */
#specwrapper{
    background-color: #1e1e1e;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Adjustment of wrapper image*/
#specwrapper img{
    width: 100%;
    max-height: 60%;
    object-fit:contain;
    padding-bottom: 10px;
}

#specwrapper h2{
    padding-top: 10px;
    color: aliceblue;
    text-align: center;
    font-family: "Raleway",sans-serif;
    font-weight: lighter;
}
  
/* Adjustment of figure caption*/
figcaption {
    text-align: center;
    color:aliceblue;
    font-family: "Raleway",sans-serif;
    font-size: 2em;
    vertical-align: both;
}

/* Adjustment of table row*/
tr{
    margin-left: auto;
    margin-right: auto;
}

/* Adjustment of table heading*/
th{
    color: aliceblue;
    padding-bottom: 2em;
    padding-left: 2em;
    font-family: "Raleway",sans-serif;
    font-size: 1.5em;
    padding-right: 2em;
}
  
/* Adjustment of table cell*/
td{
    color: #d1d1d1;
    padding-bottom: 2em;
    padding-left: 1em;
    font-family: "Raleway",sans-serif;
    font-size: 1.5em;
    width: 100%;
}
  
/* background colour for table*/
tr:nth-child(odd){
    background-color:#333333;
}
  
/* Adjustment of column*/
.column {
    float:left;
    width: 35%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow:hidden;
}
  
/* Adjustment of row*/
.row {
    display: flex;
  flex-wrap: wrap;
}

/* Adjustment image*/
main img{
    width: 100%;
    max-height: 60%;
    object-fit:contain;
}
  
/* Adjustment of column image*/
.column img {
    width: 100%;
    max-height: 60%;
    object-fit:contain;
}

/* Adjustment of text */
.product-header h5{
    padding-top: 40px;
    font-size: 10px;
    font-family: "Raleway",sans-serif;
    color: #d1d1d1;
    font-weight: lighter;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    padding-bottom: 10px;
}

main h5{
    padding-top: 40px;
    font-size: 70px;
    font-family: "Raleway",sans-serif;
    color: #d1d1d1;
    font-weight: lighter;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    padding-bottom: 10px;
}

.add-cart{
    position: absolute;
    width:100px;
    background-color: #40D3DC;
    color: #333333;
    transition:all 0,3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
    margin-left: 200px;
}

.column:hover .cart1,
.column:hover .cart2,
.column:hover .cart3,
.column:hover .cart4,
.column:hover .cart5,
.column:hover .cart6,
.column:hover .cart7,
.column:hover .cart8,
.column:hover .cart9,
.column:hover .cart10,
.column:hover .cart11,
.column:hover .cart12,
.column:hover .cart13,
.column:hover .cart14,
.column:hover .cart15,
.column:hover .cart16,
.column:hover .cart17,
.column:hover .cart18,
.column:hover .cart19,
.column:hover .cart20,
.column:hover .cart21,
.column:hover .cart22,
.column:hover .cart23,
.column:hover .cart24,
.column:hover .cart25,
.column:hover .cart26,
.column:hover .cart27,
.column:hover .cart28,
.column:hover .cart29,
.column:hover .cart30,
.column:hover .cart31,
.column:hover .cart32,
.column:hover .cart33,
.column:hover .cart34,
.column:hover .cart35
{
    left: 80px;
    bottom:120px;
    opacity: 1;
    padding:10px;
    text-decoration: none;
}

/*cart page*/


.products-container{
    background-color: #1e1e1e;
    border: #a5a5a5 1px solid;
    max-width: 800px;
    justify-content: space-around;
    margin: 40px auto 40px auto;
}

.products-container ion-icon{
    font-size: 20px;
    color: purple;
    margin-left: 10px;
    margin-right: 10px;
    cursor:pointer;
}

.product-header{
    background-color: #333333;
    width:100%;
    max-width: 800px;
    display: flex;
    justify-content: flex-start;
}

.product-title{
    width:100%;
}

.price{
    width:30%;
    display:flex;
    align-items:center;
    position:relative;
}


.quantity{
    width:30%;
    display: flex;
    align-items: center;
}

.total{
    width:20%;
    display: flex;
    align-items: center;
}

.products{
    width:95%;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;  
}
.productt{
    width:105%;
    display: inline-flex;
    color: #a5a5a5;
}

.basketTotalContainer{
    display: flex;
    justify-content: flex-end;
    width:100%;
    padding: 10px 0;
    color: #a5a5a5;
}

.basketTotalTitle{
    width:30%;
}
.basketTotal{
    width:10%;
    color: #a5a5a5;
}

#paymentbutton{
    padding: 20px 20px;
    background-color: #333333;
    color: #a5a5a5;
    text-decoration: none;
    margin-left: 40px;
}

#paymentbutton:hover{
    background-color: #40D3DC;
}